* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Byekan";
  src: url("../fonts/Byekan.ttf") format("truetype"),
    url("../fonts/Byekan.woff") format("woff");
}
@font-face {
  font-family: "lalehzar";
  src: url(../fonts/lalezar.ttf) format("truetype"),
    url("../fonts/lalezar.woff") format("woff");
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Byekan;
}
.heder {
  height: 650px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}
.nav-list {
  padding-top: 25px;
}
.nav-item {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
.nav-item:hover {
  color: orange;
}
.title {
  font-family: lalehzar;
  font-size: 60px;
  margin-top: 110px;
}
.title span {
  color: orange;
}
.desc {
  margin: 50px auto;
  width: 450px;
  height: 55px;
  line-height: 55px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  border-radius: 20px;
}
.member {
  text-align: center;
  padding: 100px 30px;
}
.member-list {
  list-style-type: none;
  margin-top: 20px;
}
.member-item {
  width: 350px;
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 10px;
}
.member-list .zoom {
  transition: transform 0.4s; /* Animation */
}
.zoom:hover {
  transform: scale(
    1.04
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.member-pic {
  width: 100%;
}
.member-name {
  font-size: 25px;
  margin-top: 10px;
}
.member-bio {
  text-align: justify;
  padding: 10px 15px;
}
.about {
  height: 700px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  padding: 60px;
  text-align: center;
  background-color: #373837;
  background-blend-mode: multiply;
}
.circle {
  width: 600px;
  height: 600px;
  background-color: rgba(135, 135, 135, 0.3);
  margin: auto;
  padding: 90px 120px;
  border-radius: 50%;
  color: white;
}
.circle h2 {
  font-size: 30px;
}
.circle p {
  text-align: justify;
  margin-top: 55px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9c9c9cc;
  height: 250px;
  padding-top: 50px;
  /* text-align: center; */
}
.social img {
  margin: 10px;
}
.social {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 100px;
  width: 400px;
  /* margin: auto; */
  border-radius: 8px 19px 8px 19px;
  background-color: #e2e2e2;
  padding-top: 25px;
  margin-left: 20px;
}
